In [1]:
import numpy as np
import pandas as pd
import csv
import matplotlib.pyplot as plt 
import descartes
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn import metrics
import numpy as np
import pandas as pd
import seaborn as sns
from urllib.request import urlopen
import scipy.optimize
import random
from collections import defaultdict
import datetime
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import r2_score,mean_squared_error

%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

# Import Data

In [3]:
path = '/content/drive/My Drive/Colab Notebooks/airbnb_pathrise/'

df = pd.read_csv(path+"listings.csv")
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (94) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

      id  ... reviews_per_month
0   2818  ...              2.12
1  20168  ...              2.46
2  25428  ...              0.16
3  27886  ...              2.11
4  28871  ...              2.59

[5 rows x 106 columns]

In [4]:
print(df.columns)

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       ...
       'instant_bookable', 'is_business_travel_ready', 'cancellation_policy',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object', length=106)

In [5]:
len(df)

20677

# Exploratory Data Analysis and Data Cleaning

In [6]:
df.describe()

                 id  ...  reviews_per_month
count  2.067700e+04  ...       18084.000000
mean   1.791013e+07  ...           0.987736
std    1.041987e+07  ...           1.349155
min    2.818000e+03  ...           0.010000
25%    9.340207e+06  ...           0.240000
50%    1.774427e+07  ...           0.540000
75%    2.601974e+07  ...           1.070000
max    3.759099e+07  ...          33.670000

[8 rows x 44 columns]

In [7]:
df['host_response_time'].value_counts()

within an hour        6217
within a few hours    3016
within a day          2570
a few days or more     333
Name: host_response_time, dtype: int64

In [8]:
df['host_is_superhost'].value_counts()

f    17451
t     3214
Name: host_is_superhost, dtype: int64

In [9]:
df['cancellation_policy'].value_counts()

strict_14_with_grace_period    8003
moderate                       7492
flexible                       5043
super_strict_60                 112
super_strict_30                  26
Name: cancellation_policy, dtype: int64

In [10]:
df['host_identity_verified'].value_counts()

f    12602
t     8063
Name: host_identity_verified, dtype: int64

In [11]:
df['instant_bookable'].value_counts()

f    15226
t     5451
Name: instant_bookable, dtype: int64

In [12]:
df['price'].describe()

count       20677
unique        462
top       $150.00
freq         1364
Name: price, dtype: object

In [13]:
for f in df.columns:
  if df[f].isna().sum() != 0:
         print(f + ': ' + str(df[f].isna().sum()))

name: 35
summary: 629
space: 5422
description: 219
neighborhood_overview: 6584
notes: 11523
transit: 6302
access: 8468
interaction: 7988
house_rules: 7883
thumbnail_url: 20677
medium_url: 20677
xl_picture_url: 20677
host_name: 12
host_since: 12
host_location: 49
host_about: 8600
host_response_time: 8541
host_response_rate: 8541
host_acceptance_rate: 20677
host_is_superhost: 12
host_thumbnail_url: 12
host_picture_url: 12
host_neighbourhood: 5937
host_listings_count: 12
host_total_listings_count: 12
host_has_profile_pic: 12
host_identity_verified: 12
neighbourhood: 831
neighbourhood_group_cleansed: 20677
city: 4
state: 219
zipcode: 886
market: 40
bathrooms: 6
bedrooms: 8
beds: 8
square_feet: 20291
weekly_price: 18086
monthly_price: 19269
security_deposit: 6202
cleaning_fee: 3721
first_review: 2593
last_review: 2593
review_scores_rating: 2816
review_scores_accuracy: 2827
review_scores_cleanliness: 2825
review_scores_checkin: 2837
review_scores_communication: 2830
review_scores_location: 2835
review_scores_value: 2835
license: 20652
jurisdiction_names: 37
cancellation_policy: 1
reviews_per_month: 2593

In [14]:
listings = df[['id', 'last_scraped', 'host_since', 'host_is_superhost', 'host_has_profile_pic', 'host_identity_verified', 'longitude', 'latitude',
               'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'price', 'security_deposit',
               'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights', 'first_review', 'last_review', 'number_of_reviews', 'review_scores_accuracy', 'review_scores_cleanliness', 
               'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'instant_bookable', 'cancellation_policy', 'require_guest_profile_picture', 
               'require_guest_phone_verification', 'calculated_host_listings_count']]
listings.head()

      id  ... calculated_host_listings_count
0   2818  ...                              1
1  20168  ...                              2
2  25428  ...                              2
3  27886  ...                              1
4  28871  ...                              3

[5 rows x 36 columns]

In [15]:
listings = listings[listings['number_of_reviews'] > 0]
len(listings)

18084

In [0]:
listings['security_deposit'].fillna(0, inplace=True)
listings['cleaning_fee'].fillna(0, inplace=True)
# listings['host_about'].fillna('', inplace=True)

In [17]:
for f in listings.columns:
  if listings[f].isna().sum() != 0:
         print(f + ': ' + str(listings[f].isna().sum()))

host_since: 10
host_is_superhost: 10
host_has_profile_pic: 10
host_identity_verified: 10
bathrooms: 5
bedrooms: 6
beds: 5
review_scores_accuracy: 235
review_scores_cleanliness: 233
review_scores_checkin: 245
review_scores_communication: 238
review_scores_location: 243
review_scores_value: 243

In [18]:
listings.dropna(inplace = True)
len(listings)

17811

In [0]:
listings['price'] = listings['price'].str.replace(',', '').replace('$', '')
listings['security_deposit'] = listings['security_deposit'].str.replace(',', '').replace('$', '')
listings['cleaning_fee'] = listings['cleaning_fee'].str.replace(',', '').replace('$', '')
listings['extra_people'] = listings['extra_people'].str.replace(',', '').replace('$', '')

listings['price'] = listings['price'].str.replace('$', '')
listings['security_deposit'] = listings['security_deposit'].str.replace('$', '')
listings['cleaning_fee'] = listings['cleaning_fee'].str.replace('$', '')
listings['extra_people'] = listings['extra_people'].str.replace('$', '')

listings['price'] = pd.to_numeric(listings['price'])
listings['security_deposit'] = pd.to_numeric(listings['security_deposit'])
listings['cleaning_fee'] = pd.to_numeric(listings['cleaning_fee'])
listings['extra_people'] = pd.to_numeric(listings['extra_people'])

listings['security_deposit'].fillna(0, inplace=True)
listings['cleaning_fee'].fillna(0, inplace=True)

In [0]:

listings['host_has_profile_pic'] = [0 if i == 'f' else 1 for i in listings['host_has_profile_pic']]
listings['host_is_superhost'] = [0 if i == 'f' else 1 for i in listings['host_is_superhost']]
listings['host_identity_verified'] = [0 if i == 'f' else 1 for i in listings['host_identity_verified']]
listings['instant_bookable'] = [0 if i == 'f' else 1 for i in listings['instant_bookable']]
listings['require_guest_profile_picture'] = [0 if i == 'f' else 1 for i in listings['require_guest_profile_picture']]
listings['require_guest_phone_verification'] = [0 if i == 'f' else 1 for i in listings['require_guest_phone_verification']]

In [21]:
listings.head()

      id  ... calculated_host_listings_count
0   2818  ...                              1
1  20168  ...                              2
2  25428  ...                              2
3  27886  ...                              1
4  28871  ...                              3

[5 rows x 36 columns]

In [0]:
listings['last_review'] = pd.to_datetime(listings['last_review'])
listings['first_review'] = pd.to_datetime(listings['first_review'])
listings['host_since'] = pd.to_datetime(listings['host_since'])

listings['onlist_duration'] = listings['first_review'].rsub(listings['last_review'], axis=0).dt.days
listings['host_duration'] = listings['host_since'].rsub(listings['last_review'], axis=0).dt.days

In [0]:
def count_amenities(i):
  i = i.split(',')
  return len(i)

listings['amenities'] = listings['amenities'].apply(count_amenities)

In [0]:
listings['price_pp'] = listings['price']/listings['accommodates']

In [25]:
listings.head()

      id last_scraped host_since  ...  onlist_duration  host_duration   price_pp
0   2818   2019-08-09 2008-09-24  ...             3780           3967  29.500000
1  20168   2019-08-09 2009-12-02  ...             3433           3523  40.000000
2  25428   2019-08-09 2009-11-20  ...              475           3459  41.666667
3  27886   2019-08-09 2010-03-23  ...             2730           3387  75.000000
4  28871   2019-08-09 2010-05-13  ...             3254           3355  37.500000

[5 rows x 39 columns]

In [0]:
listings.to_csv(path+'cleaned_listings.csv', index = False)

In [27]:
property_group = listings.groupby('property_type').agg({'price': ['mean', 'min', 'max']})
property_group

                              price
                               mean     min     max
property_type
Aparthotel               218.968254    97.0   618.0
Apartment                146.664308     0.0  8915.0
Barn                     237.500000    75.0   400.0
Bed and breakfast        130.838000    35.0   800.0
Boat                     196.795527    25.0   800.0
Boutique hotel           171.235294    79.0   865.0
Bungalow                  86.666667    65.0   100.0
Cabin                    106.666667    75.0   200.0
Camper/RV                 47.500000    35.0    60.0
Campsite                  50.000000    50.0    50.0
Casa particular (Cuba)    85.000000    70.0   100.0
Castle                   550.000000   550.0   550.0
Chalet                    84.333333    80.0    90.0
Condominium              142.000000    30.0   540.0
Cottage                  173.555556    26.0   500.0
Dome house               195.000000   195.0   195.0
Earth house               80.000000    80.0    80.0
Guest suite              124.292857    50.0   550.0
Guesthouse               147.088889    49.0   800.0
Hostel                   410.000000    20.0  1000.0
Hotel                    364.857143    69.0  1000.0
House                    171.962082    23.0  1195.0
Houseboat                206.395437    50.0  1390.0
Hut                       40.000000    40.0    40.0
Island                    75.000000    75.0    75.0
Lighthouse              4500.000000  4500.0  4500.0
Loft                     208.294766    30.0  1000.0
Nature lodge             140.000000   140.0   140.0
Other                    116.178571    40.0   330.0
Serviced apartment       243.217391    65.0   900.0
Tent                      25.000000    25.0    25.0
Tiny house                96.700000    52.0   165.0
Townhouse                188.052817    40.0  2000.0
Villa                    223.393939    62.0   435.0

In [28]:
temp = list(range(0, len(property_group)))
t = property_group.index
pro_type = pd.DataFrame(zip(t, temp), columns = ['property_type', 'property_index'])
pro_type

             property_type  property_index
0               Aparthotel               0
1                Apartment               1
2                     Barn               2
3        Bed and breakfast               3
4                     Boat               4
5           Boutique hotel               5
6                 Bungalow               6
7                    Cabin               7
8                Camper/RV               8
9                 Campsite               9
10  Casa particular (Cuba)              10
11                  Castle              11
12                  Chalet              12
13             Condominium              13
14                 Cottage              14
15              Dome house              15
16             Earth house              16
17             Guest suite              17
18              Guesthouse              18
19                  Hostel              19
20                   Hotel              20
21                   House              21
22               Houseboat              22
23                     Hut              23
24                  Island              24
25              Lighthouse              25
26                    Loft              26
27            Nature lodge              27
28                   Other              28
29      Serviced apartment              29
30                    Tent              30
31              Tiny house              31
32               Townhouse              32
33                   Villa              33

In [29]:
listings = pd.merge(listings,
                 pro_type,
                 on='property_type', 
                 how='left')
listings.head()

      id last_scraped host_since  ...  host_duration   price_pp  property_index
0   2818   2019-08-09 2008-09-24  ...           3967  29.500000               1
1  20168   2019-08-09 2009-12-02  ...           3523  40.000000              32
2  25428   2019-08-09 2009-11-20  ...           3459  41.666667               1
3  27886   2019-08-09 2010-03-23  ...           3387  75.000000              22
4  28871   2019-08-09 2010-05-13  ...           3355  37.500000               1

[5 rows x 40 columns]

In [30]:
room_group = listings.groupby('room_type').agg({'price': ['mean', 'min', 'max']})
room_group

                      price
                       mean   min     max
room_type
Entire home/apt  166.307234   0.0  8915.0
Private room     104.003010  19.0  1000.0
Shared room      171.271429  15.0  1000.0

In [0]:
def room(t):
  if t == 'Entire home/apt':
    return 0
  elif t == 'Private room':
    return 1
  else:
    return 2

listings['room_type'] = listings['room_type'].apply(room).astype('category')

In [32]:
cancel_group = listings.groupby('cancellation_policy').agg({'price': ['mean', 'min', 'max']})
cancel_group

                                  price
                                   mean    min     max
cancellation_policy
flexible                     137.440771    9.0  5040.0
moderate                     147.343929   24.0  8000.0
strict_14_with_grace_period  166.101971    0.0  8915.0
super_strict_30              382.047619   99.0  1000.0
super_strict_60              310.925926  125.0   850.0

In [0]:
def cancel(t):
  if t == 'flexible':
    return 0
  elif t == 'moderate':
    return 1
  if t == 'strict_14_with_grace_period':
    return 2
  elif t == 'super_strict_30':
    return 3
  else:
    return 4

listings['cancellation_policy'] = listings['cancellation_policy'].apply(cancel).astype('category')

In [34]:
bed_group = listings.groupby('bed_type').agg({'price': ['mean', 'min', 'max']})
bed_group

                    price
                     mean   min     max
bed_type
Airbed         120.538462  41.0   300.0
Couch           78.750000  44.0   130.0
Futon          100.641026  40.0   250.0
Pull-out Sofa   99.688073  25.0   400.0
Real Bed       154.035645   0.0  8915.0

In [0]:
def bed(t):
  if t == 'Airbed':
    return 0
  elif t == 'Couch':
    return 1
  if t == 'Futon':
    return 2
  elif t == 'Pull-out Sofa	':
    return 3
  else:
    return 4

listings['bed_type'] = listings['bed_type'].apply(bed).astype('category')

In [0]:
listings['property_index'] = listings['property_index'].astype('category')
listings['host_is_superhost'] = listings['host_is_superhost'].astype('category')
listings['host_has_profile_pic'] = listings['host_has_profile_pic'].astype('category')
listings['host_identity_verified'] = listings['host_identity_verified'].astype('category')

In [37]:
listings.dtypes

id                                           int64
last_scraped                                object
host_since                          datetime64[ns]
host_is_superhost                         category
host_has_profile_pic                      category
host_identity_verified                    category
longitude                                  float64
latitude                                   float64
property_type                               object
room_type                                 category
accommodates                                 int64
bathrooms                                  float64
bedrooms                                   float64
beds                                       float64
bed_type                                  category
amenities                                    int64
price                                      float64
security_deposit                           float64
cleaning_fee                               float64
guests_included                              int64
extra_people                               float64
minimum_nights                               int64
first_review                        datetime64[ns]
last_review                         datetime64[ns]
number_of_reviews                            int64
review_scores_accuracy                     float64
review_scores_cleanliness                  float64
review_scores_checkin                      float64
review_scores_communication                float64
review_scores_location                     float64
review_scores_value                        float64
instant_bookable                             int64
cancellation_policy                       category
require_guest_profile_picture                int64
require_guest_phone_verification             int64
calculated_host_listings_count               int64
onlist_duration                              int64
host_duration                                int64
price_pp                                   float64
property_index                            category
dtype: object

In [38]:
listings.columns

Index(['id', 'last_scraped', 'host_since', 'host_is_superhost',
       'host_has_profile_pic', 'host_identity_verified', 'longitude',
       'latitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bedrooms', 'beds', 'bed_type', 'amenities', 'price',
       'security_deposit', 'cleaning_fee', 'guests_included', 'extra_people',
       'minimum_nights', 'first_review', 'last_review', 'number_of_reviews',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'instant_bookable',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'calculated_host_listings_count',
       'onlist_duration', 'host_duration', 'price_pp', 'property_index'],
      dtype='object')

In [39]:
listings.head()

      id last_scraped host_since  ... host_duration   price_pp property_index
0   2818   2019-08-09 2008-09-24  ...          3967  29.500000              1
1  20168   2019-08-09 2009-12-02  ...          3523  40.000000             32
2  25428   2019-08-09 2009-11-20  ...          3459  41.666667              1
3  27886   2019-08-09 2010-03-23  ...          3387  75.000000             22
4  28871   2019-08-09 2010-05-13  ...          3355  37.500000              1

[5 rows x 40 columns]

In [40]:
listings.dropna(inplace = True)
len(listings)

17811

In [41]:
X = listings[['host_is_superhost', 'host_has_profile_pic', 'host_identity_verified', 'longitude',
       'latitude', 'room_type', 'accommodates', 'bathrooms',
       'bedrooms', 'beds', 'bed_type', 'amenities', 'price',
       'security_deposit', 'cleaning_fee', 'guests_included', 'extra_people',
       'minimum_nights', 'number_of_reviews',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'instant_bookable',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'calculated_host_listings_count',
       'onlist_duration', 'host_duration', 'price_pp', 'property_index']]

y = listings[['price']]

print(X.shape)
print(y.shape)

(17811, 34)
(17811, 1)

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [77]:
logisticRegr = LogisticRegression()
logisticRegr.fit(X_train, y_train)
pred = logisticRegr.predict(X_test)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [79]:
mse = mean_squared_error(y_test, pred)
rmse = np.sqrt(mse)
rmse

266.91670386705977

In [80]:
rf = RandomForestRegressor()
rf.fit(X_train, y_train)
pred = rf.predict(X_test)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [81]:
mse = mean_squared_error(y_test, pred)
rmse = np.sqrt(mse)
rmse

2.955291248831898

In [43]:
from sklearn import ensemble

params = {'n_estimators': 500, 'max_depth': 4, 'min_samples_split': 2,
          'learning_rate': 0.01, 'loss': 'ls'}
clf = ensemble.GradientBoostingRegressor(**params)

clf.fit(X_train, y_train)
mse = mean_squared_error(y_test, clf.predict(X_test))
print("MSE: %.4f" % mse)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MSE: 1.0157